<div class="ui-g">
    <div class="ui-g-4">
        <p-inputSwitch [(ngModel)]="checked" class="ui-g-12 ui-sm-4"></p-inputSwitch>
    </div>
    <div class="ui-g-4">
        <p-inputSwitch onLabel="I confirm"
                       offLabel="I reject" [(ngModel)]="val" class="ui-g-12 ui-sm-4"></p-inputSwitch>
    </div>
    <div class="ui-g-4">
        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" class="ui-g-12 ui-sm-4"></p-dropdown>
    </div>
</div>

<app-filter></app-filter>
<app-filter-item></app-filter-item>
